body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  font-family: "Poppins";

  background: radial-gradient(20.04% 35.63% at 20.04% 38.89%, rgba(0, 103, 255, 0.2) 0%, rgba(0, 103, 255, 0) 100%), radial-gradient(30.97% 15.76% at 93.79% 86.18%, rgba(0, 231, 190, 0.1) 0%, rgba(0, 231, 190, 0) 100%), #1C232D;
}
:root {
  /* Primary Colour palette */
  --color-black: #000000;
  --color-white: #ffffff;
  /* Primary Tints */
  --color-black-1: #191919;
  --color-black-2: #333333;
  --color-black-3: #4d4d4d;

  /* Notification Colours */
  --color-error: #b72d00;
  --color-error-1: #ff460f;
  --color-error-2: #ffebe5;
  --theme-bg: var(--color-black);
  --color-font-dark:#CDCDCD;
  --color-font-light:##FFFFFF;
;
}
:root {
  --spacing-1: 0.5rem;
  --spacing-2: 0.625rem;
  --spacing-3: 1rem;
  --spacing-4: 1.25rem;
  --spacing-5: 1.5rem;
  --spacing-6: 1.75rem;
  --spacing-7: 2rem;
  --spacing-8: 2.25rem;
  --spacing-9: 2.5rem;
  --spacing-10: 3rem;
  --spacing-11: 3.5rem;
  --spacing-12: 4rem;
  --spacing-13: 4.5rem;
  --spacing-14: 5rem;
}
.token-example {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 1rem 1rem;
  align-items: center;
  gap: 1rem;
  color: #1a9cec;
}

.token-example > span {
  display: inline-block;
  min-width: 9em;
}
.token-example > article {
  background-color: #fffd00;
  aspect-ratio: 1;
}

.label_astrik{
  margin-left: 5px;
}

.onboarding-black-background{
  background: radial-gradient(20.04% 35.63% at 20.04% 38.89%, rgba(0, 103, 255, 0.2) 0%, rgba(0, 103, 255, 0) 100%), radial-gradient(30.97% 15.76% at 93.79% 86.18%, rgba(0, 231, 190, 0.1) 0%, rgba(0, 231, 190, 0) 100%), #1C232D;

}
.grid{
  width: 100%;
  margin-inline: auto;
  max-width: 1440px;
  padding-inline: var(--spacing-7);
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-gap: var(--spacing-5);
}

.grid-span-wide{
  grid-column:2/-2;
}
.grid-span-medium{
  grid-column:3/-3;
}
.grid-span-narrow{
  grid-column:4/-4;
}

/* //mui date picker calendar icon color override */
::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1);
}

.main-auth{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}