*,html,body{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  font-family: "Poppins";
}

:root {
  /* Primary Colour palette */
  --color-black: #000000;
  --color-white: #ffffff;
  /* Primary Tints */
  --color-black-1: #191919;
  --color-black-2: #333333;
  --color-black-3: #4d4d4d;

  /* Notification Colours */
  --color-error: #b72d00;
  --color-error-1: #ff460f;
  --color-error-2: #ffebe5;
}

:root {
  --spacing-1: 0.5rem;
  --spacing-2: 0.625rem;
  --spacing-3: 1rem;
  --spacing-4: 1.25rem;
  --spacing-5: 1.5rem;
  --spacing-6: 1.75rem;
  --spacing-7: 2rem;
  --spacing-8: 2.25rem;
  --spacing-9: 2.5rem;
  --spacing-10: 3rem;
  --spacing-11: 3.5rem;
  --spacing-12: 4rem;
  --spacing-13: 4.5rem;
  --spacing-14: 5rem;
}

.label_astrik{
  margin-left: 5px;
}
