*,
html,
body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  font-family: 'Poppins';

  /* background: radial-gradient(
      20.04% 35.63% at 20.04% 38.89%,
      rgba(0, 103, 255, 0.2) 0%,
      rgba(0, 103, 255, 0) 100%
    ),
    radial-gradient(
      30.97% 15.76% at 93.79% 86.18%,
      rgba(0, 231, 190, 0.1) 0%,
      rgba(0, 231, 190, 0) 100%
    ),
    #1c232d; */
}

:root {
  /* Primary Colour palette */
  --color-black: #000000;
  --color-white: #ffffff;
  /* Primary Tints */
  --color-black-1: #191919;
  --color-black-2: #333333;
  --color-black-3: #4d4d4d;

  /* Notification Colours */
  --color-error: #b72d00;
  --color-error-1: #ff460f;
  --color-error-2: #ffebe5;
  --theme-bg: var(--color-black);
}

:root {
  --spacing-1: 0.5rem;
  --spacing-2: 0.625rem;
  --spacing-3: 1rem;
  --spacing-4: 1.25rem;
  --spacing-5: 1.5rem;
  --spacing-6: 1.75rem;
  --spacing-7: 2rem;
  --spacing-8: 2.25rem;
  --spacing-9: 2.5rem;
  --spacing-10: 3rem;
  --spacing-11: 3.5rem;
  --spacing-12: 4rem;
  --spacing-13: 4.5rem;
  --spacing-14: 5rem;
}

.label_astrik {
  margin-left: 5px;
}

.grid {
  width: 100%;
  margin-inline: auto;

  padding-inline: var(--spacing-7);
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-gap: var(--spacing-5);
}

.grid-span-wide {
  grid-column: 2/-2;
}
.grid-span-medium {
  grid-column: 3/-3;
}
.grid-span-narrow {
  grid-column: 4/-4;
}
.grid-span-full {
  grid-column: 1/-1;
}

.main-auth {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  background: radial-gradient(
      20.04% 35.63% at 20.04% 38.89%,
      rgba(0, 103, 255, 0.2) 0%,
      rgba(0, 103, 255, 0) 100%
    ),
    radial-gradient(
      30.97% 15.76% at 93.79% 86.18%,
      rgba(0, 231, 190, 0.1) 0%,
      rgba(0, 231, 190, 0) 100%
    ),
    #1c232d;
  z-index: 1;
}

.main-dashboard {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  background: radial-gradient(
      20.04% 35.63% at 20.04% 38.89%,
      rgba(0, 103, 255, 0.2) 0%,
      rgba(0, 103, 255, 0) 100%
    ),
    radial-gradient(
      30.97% 15.76% at 93.79% 86.18%,
      rgba(0, 231, 190, 0.1) 0%,
      rgba(0, 231, 190, 0) 100%
    ),
    #1c232d;
  z-index: 1;
}

/* //mui date picker calendar icon color override */
::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1);
}

[data-theme='light'] {
  --theme-bg: var(--color-white);
}
.top-right-planet {
  position: absolute;
  top: 1%;
  right: 14%;
  z-index: -9;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #00ebf3 0%,
    #00d5dd 7%,
    #008a8f 33%,
    #004f52 56%,
    #002425 76%,
    #000a0a 91%,
    #000000 100%
  );
  background-blend-mode: screen;
  mix-blend-mode: screen;
}
.bottom-right-planet {
  position: absolute;
  right: 19%;
  z-index: -9;
  bottom: 28%;
  background: radial-gradient(50% 50% at 50% 50%, #00ded3 0%, #000000 100%);
  background-blend-mode: screen;
  mix-blend-mode: screen;
}
.top-left-planet {
  position: absolute;
  top: 44%;

  left: 13%;
  z-index: -9;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #9b19ff 0%,
    #580e91 41%,
    #000000 97%
  );
  background-blend-mode: screen;
  mix-blend-mode: screen;
}
.bottom-left-planet {
  position: absolute;

  bottom: 12%;

  left: 20%;
  z-index: -9;
  background: radial-gradient(50% 50% at 50% 50%, #00ded3 0%, #000000 100%);
  background-blend-mode: screen;
  mix-blend-mode: screen;
}

.stars {
  position: absolute;
  z-index: -10;
}

.red-planet {
  position: absolute;
  top: 5%;
  right: 1%;
  z-index: -9;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ff9442 0%,
    #dd8039 10%,
    #8f5325 36%,
    #522f15 58%,
    #25160a 77%,
    #0a0603 91%,
    #000000 100%
  );
  background-blend-mode: screen;
  mix-blend-mode: screen;
  top: 7%;
}

.ufo {
  position: absolute;
  z-index: 10;
  top: 8%;
}
